input.clear-input,
input[type=text].clear-input,
input[type=text].clear-input:hover,
input[type=text].clear-input:focus,
input[type=text].clear-input:active {
  border: none;
  border-radius: none;
  outline: none;
  outline-offset: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 4px 8px;
}
.table-of-contents a.notready {
  opacity: 0.2;
}
.header-module {
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
}
.header-module .input-xxxsmall {
  width: 7.5px;
}
.header-module .input-xxsmall {
  width: 15px;
}
.header-module .input-xsmall {
  width: 30px;
}
.header-module .input-small {
  width: 45px;
}
.header-module .input-medium {
  width: 75px;
}
.header-module .input-large {
  width: 120px;
}
.header-module .input-xlarge {
  width: 150px;
}
.header-module .input-xxlarge {
  width: 210px;
}
.header-module .input-xxxlarge {
  width: 300px;
}
.header-module .digit-block {
  width: 7.5px;
}
.header-module .diagram-row {
  height: 12px 2;
}
.header-module .btn {
  font-size: 9px;
  height: 30px;
}
.header-module input {
  text-align: center;
}
.header-module-sub {
  text-align: center;
  padding: 12px;
  background-color: #53B3E5;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 24px;
}
.header-module-sub input {
  text-align: center;
}
.header-section {
  font-size: 32px;
  line-height: 100%;
  font-weight: bold;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
}
.header-section .input-xxxsmall {
  width: 20px;
}
.header-section .input-xxsmall {
  width: 40px;
}
.header-section .input-xsmall {
  width: 80px;
}
.header-section .input-small {
  width: 120px;
}
.header-section .input-medium {
  width: 200px;
}
.header-section .input-large {
  width: 320px;
}
.header-section .input-xlarge {
  width: 400px;
}
.header-section .input-xxlarge {
  width: 560px;
}
.header-section .input-xxxlarge {
  width: 800px;
}
.header-section .digit-block {
  width: 20px;
}
.header-section .diagram-row {
  height: 32px 2;
}
.header-section .btn {
  font-size: 24px;
  height: 50px;
}
.header-section input {
  font-weight: bold;
  letter-spacing: -0.02em;
}
.header-section .unbold {
  font-weight: 300;
  letter-spacing: 0em;
}
.inbook-grid-layout.narrow {
  width: 600px;
}
.page-container {
  padding: 24px;
}
.page-layout {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
.page-layout .col1 {
  width: 10%;
  float: left;
  min-height: 1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-layout .col2 {
  width: 20%;
  float: left;
  min-height: 1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-layout .col3 {
  width: 30%;
  float: left;
  min-height: 1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-layout .col4 {
  width: 40%;
  float: left;
  min-height: 1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-layout .col5 {
  width: 50%;
  float: left;
  min-height: 1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-layout .col6 {
  width: 60%;
  float: left;
  min-height: 1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-layout .col7 {
  width: 70%;
  float: left;
  min-height: 1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-layout .col8 {
  width: 80%;
  float: left;
  min-height: 1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-layout .col9 {
  width: 90%;
  float: left;
  min-height: 1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-layout .col10 {
  width: 100%;
  float: left;
  min-height: 1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.para {
  margin-top: 12px;
  margin-bottom: 18px;
}
.exemple-frame {
  border: 1px solid #ccc;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 12px;
}
.exemple-frame .exemple-header {
  margin-top: 12px;
  margin-bottom: 18px;
  font-weight: bold;
  letter-spacing: -0.02em;
}
.exemple-frame .exemple-header input {
  font-weight: bold;
  letter-spacing: -0.02em;
}
.exemple-frame .exemple-header .unbold {
  font-weight: 300;
  letter-spacing: 0em;
}
.note-frame {
  border: 3px solid #999;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 12px;
}
.term-box {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: inline-block;
}
tr.tr-underline td {
  border-bottom: 1px solid #999;
}
ol.basic-list,
ul.basic-list {
  margin: 12px 0;
  padding: 0 0 0 12px;
}
