<div 
  style="position:relative; padding-left:200px; height:100%;"
  inbook-lib-math
  inbook-lib-animation-presets
>
  <script type="text/inbook-javascript" inbook-javascript>
    var sceneBaseUrl = 'assets/scenes/';
    var imgBaseUrl = '//vretta-inbook-assets.s3.amazonaws.com/collegeboreal-sample/images/';
    var sceneSections = scope.sceneSections = [
      {name:'3.02 Les Fractions', scenes:[
        {name: 'Les Fractions', url: '3_02-les_fractions/01.html'}, 
        {name: 'scene-1', url: '3_02-les_fractions/01-scene-1.html'},
        {name: 'scene-2', url: '3_02-les_fractions/01-scene-2.html'},
        {name: 'exercise-1', url: '3_02-les_fractions/02-exercise-1.html'},
        {name: 'exercise-3', url: '3_02-les_fractions/02-exercise-3.html'},
        {name: 'exercise-4', url: '3_02-les_fractions/02-exercise-4.html'},
        {name: 'scene-3', url: '3_02-les_fractions/01-scene-3.html'},
        {name: 'exercise-6', url: '3_02-les_fractions/02-exercise-6.html'},
        {name: 'scene-4', url: '3_02-les_fractions/01-scene-4.html'},
        {name: 'exercise-9', url: '3_02-les_fractions/02-exercise-9.html'},
        {name: 'exercise-10', url: '3_02-les_fractions/02-exercise-10.html'},
        {name: 'scene-5', url: '3_02-les_fractions/01-scene-5.html'},
        {name: 'exercise-11', url: '3_02-les_fractions/02-exercise-11.html'},
        {name: 'exercise-12', url: '3_02-les_fractions/02-exercise-12.html', disabled:true},
        {name: 'scene-6', url: '3_02-les_fractions/01-scene-6.html'},
        {name: 'exercise-13', url: '3_02-les_fractions/02-exercise-13.html'},
        {name: 'scene-7', url: '3_02-les_fractions/01-scene-7.html'},
        {name: '02-exercise', url: '3_02-les_fractions/02-exercise-15'},
        {name: 'scene-8', url: '3_02-les_fractions/01-scene-8.html'},
        {name: 'exercise-17', url: '3_02-les_fractions/02-exercise-17.html'},
        {name: 'scene-9', url: '3_02-les_fractions/01-scene-9.html'},
        {name: 'exercise-18', url: '3_02-les_fractions/02-exercise-18.html'},
        {name: 'scene-10', url: '3_02-les_fractions/01-scene-10.html'},
        {name: 'scene-11', url: '3_02-les_fractions/01-scene-11.html'},
        {name: 'scene-12', url: '3_02-les_fractions/01-scene-12.html'},
      ]},
      { 
        name:'3.04 Les Pourcentages', 
        imgUrl:imgBaseUrl+'3_04-les_pourcentages/', 
        folder: '3_04-les_pourcentages',
        scenes:[
          {name: '01', url: '3_04-les_pourcentages/01.html'}, 
          {name: '02', url: '3_04-les_pourcentages/02.html'}, 
          {name: '03', url: '3_04-les_pourcentages/03.html'}, 
          {name: '04', url: '3_04-les_pourcentages/04.html'}, 
          {name: '05', url: '3_04-les_pourcentages/05.html'}, 
          {name: '06', url: '3_04-les_pourcentages/06.html'}, 
          {name: '07', url: '3_04-les_pourcentages/07.html'}, 
          {name: '08', url: '3_04-les_pourcentages/08.html'}, 
          {name: '09', url: '3_04-les_pourcentages/09.html'}, 
          {name: '10', url: '3_04-les_pourcentages/10.html'}, 
          {name: '11', url: '3_04-les_pourcentages/11.html'}, 
          {name: '12', url: '3_04-les_pourcentages/12.html'}, 
          {name: '13', url: '3_04-les_pourcentages/13.html'}, 
          {name: '14', url: '3_04-les_pourcentages/14.html'}, 
          {name: '15', url: '3_04-les_pourcentages/15.html'}, 
          {name: '16', url: '3_04-les_pourcentages/16.html'}, 
          {name: '17', url: '3_04-les_pourcentages/17.html'}, 
          {name: '18', url: '3_04-les_pourcentages/18.html'}, 
          {name: '19', url: '3_04-les_pourcentages/19.html'}, 
          {name: '20', url: '3_04-les_pourcentages/20.html'}, 
          {name: '21', url: '3_04-les_pourcentages/21.html'}, 
          {name: '22', url: '3_04-les_pourcentages/22.html'}, 
          {name: '23', url: '3_04-les_pourcentages/23.html'}, 
          {name: '24', url: '3_04-les_pourcentages/24.html'}, 
          {name: '25', url: '3_04-les_pourcentages/25.html'}, 
          {name: '26', url: '3_04-les_pourcentages/26.html'}, 
          {name: '27', url: '3_04-les_pourcentages/27.html'}, 
          {name: '28', url: '3_04-les_pourcentages/28.html'}, 
          {name: '29', url: '3_04-les_pourcentages/29.html'}, 
          {name: '30', url: '3_04-les_pourcentages/30.html'}, 
          {name: '31', url: '3_04-les_pourcentages/31.html'}, 
          {name: '32', url: '3_04-les_pourcentages/32.html'}, 
          {name: '33', url: '3_04-les_pourcentages/33.html'}, 
          {name: '34', url: '3_04-les_pourcentages/34.html'}, 
          {name: '35', url: '3_04-les_pourcentages/35.html'}, 
          {name: '36', url: '3_04-les_pourcentages/36.html'}, 
          {name: '37', url: '3_04-les_pourcentages/37.html'}, 
          {name: '38', url: '3_04-les_pourcentages/38.html'}, 
          {name: '39', url: '3_04-les_pourcentages/39.html'}, 
        ]
      },
      {name:'3.08 3_08-les_figures_a_trois_dimensions...', scenes:[
        {name: '01 (Cover)', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/01.html'}, 
        {name: '02', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/02.html'}, 
        {name: '03', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/03.html', disabled:true}, 
        {name: '04', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/04.html'}, 
        {name: '05', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/05.html'}, 
        {name: '06', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/06.html'}, 
        {name: '07', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/07.html'}, 
        {name: '08', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/08.html'}, 
        {name: '09', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/09.html'}, 
        {name: '10', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/10.html'}, 
        {name: '11', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/11.html'}, 
        {name: '12', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/12.html', disabled:true}, 
        {name: '13', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/13.html'},
        {name: '14', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/14.html', disabled:true},
        {name: '15', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/15.html'},
        {name: '16', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/16.html', disabled:true},
        {name: '17', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/17.html'},
        {name: '18', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/18.html', disabled:true},
        {name: '19', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/19.html'},
        {name: '20', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/20.html', disabled:true},
        {name: '21', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/21.html'},
        {name: '22', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/22.html'},
        {name: '23', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/23.html',disabled:true},
        {name: '24', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/24.html',disabled:true},
        {name: '25', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/25.html'},
        {name: '26', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/26.html',disabled:true},
        {name: '27', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/27.html'},
        {name: '28', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/28.html',disabled:true},
        {name: '29', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/29.html',disabled:true},
        {name: '30', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/30.html',disabled:true},
        {name: '31', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/31.html'},
        {name: '32', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/32.html',disabled:true},
        {name: '33', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/33.html',disabled:true},
        {name: '34', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/34.html',disabled:true},
        {name: '35', url: '3_08-les_figures_a_trois_dimensions_les_systemes_de_coordonnees_et_les_transformations/35.html',disabled:true},



      ]},
      {name:'3.09 Gerers les donnees', scenes:[
        {name: '01', url: '3_09-gerer_des_donnees/01.html'}, 
        {name: '02', url: '3_09-gerer_des_donnees/02.html'}, 
        {name: '03', url: '3_09-gerer_des_donnees/03.html', disabled:true}, 
      ]},
      {name:'3.10 Les suites', scenes:[
        {name: '01', url: '3_10-les_suites/01.html'}, 
        {name: '02', url: '3_10-les_suites/02.html'}, 
        {name: '03', url: '3_10-les_suites/03.html'}, 
        {name: '04', url: '3_10-les_suites/04.html'}, 
        {name: '05', url: '3_10-les_suites/05.html'}, 
        {name: '06', url: '3_10-les_suites/06.html'}, 
        {name: '07', url: '3_10-les_suites/07.html'}, 
        {name: '08', url: '3_10-les_suites/08.html'}, 
        {name: '09', url: '3_10-les_suites/09.html'}, 
        {name: '10', url: '3_10-les_suites/10.html'}, 
        {name: '11', url: '3_10-les_suites/11.html'}, 
        {name: '12', url: '3_10-les_suites/12.html'}, 
        {name: '13', url: '3_10-les_suites/13.html'}, 
        {name: '14', url: '3_10-les_suites/14.html'}, 
        {name: '15', url: '3_10-les_suites/15.html'}, 
        {name: '16', url: '3_10-les_suites/16.html'},   
        {name: '17', url: '3_10-les_suites/17.html'}, 
        {name: '18', url: '3_10-les_suites/18.html'}, 
      ]},

    ]
    var activeScene = {}
    scope.getSceneLink = function(){
      return sceneBaseUrl+activeScene.url;
    }
    scope.selectScene = function(scene, sceneSection){
      window.scrollTo(0, 0);
      console.log(scope, sceneSection.imgUrl)
      activeScene = scene;
      scope.activeSceneSection = sceneSection;
      scope.imgUrl = sceneSection.imgUrl;
    }
    scope.isActiveScene = function(scene){
      return activeScene.url === scene.url;
    }
  </script>

  <div style="position:fixed; top:0px; bottom:0px; left:0px; width: 180px; overflow-y:scroll; border-right: 1px solid #999;" class="pa2">

    <div ng-repeat="sceneSection in sceneSections" class="mb2 type-xxxsmall">
      <div class="type-xxsmall mt3 mb2 bold" ng-bind="sceneSection.name"></div>
      <div class="pl2">
        <div ng-repeat="scene in sceneSection.scenes" ng-click="selectScene(scene, sceneSection)" class="clickable pb1 type-xxxsmall">
          <a href="" style="width:100%;"  ng-bind="scene.name" ng-class="{'bg-yellow':isActiveScene(scene), notready:scene.disabled}"></a>
        </div>
      </div>
    </div>

  </div>
  <div>
    <div inbook-include="{{getSceneLink()}}"></div>
  </div>

</div>
