@import (reference) "../../inbook-client/latest/css/style.less";
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);


.table-of-contents{
  a.notready{
    opacity:0.2;
  }
}

.header-module {
  .type-xxxxsmall;
  .center;
  margin-top: 2 * @sizer-base;
  margin-bottom: 2 * @sizer-base;
}
.header-module-sub {
  .center;
  padding: 2 * @sizer-base;
  background-color: #53B3E5;
  color: #fff;
  margin-top: 2 * @sizer-base;
  margin-bottom: 4 * @sizer-base;
}
.header-section {
  .type-small;
  .bold;
  margin-bottom: 3 * @sizer-base;
}


.inbook-grid-layout.narrow {
  width:600px;
}

.page-container {
  padding: 4 * @sizer-base;
}
.page-layout {
  .inbook-grid-layout;
  width:600px;
  padding-bottom:  4 * @sizer-base;
}


.para {
  margin-top:12px;
  margin-bottom:18px;
}

.exemple-frame {
  border: 1px solid #ccc;
  padding:12px;
  margin-top: 1 * @sizer-base;
  margin-bottom: 2 * @sizer-base;
  .exemple-header {
    .para;
    .bold;
  }
}

.note-frame {
  border: 3px solid #999;
  padding:12px;
  margin-top: 1 * @sizer-base;
  margin-bottom: 2 * @sizer-base;
}

.term-box {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: inline-block;
}

tr.tr-underline td {
  border-bottom: 1px solid #999;
}
ol.basic-list,
ul.basic-list   {
  margin:   12px 0;
  padding:  0 0 0 12px;
}

.vert-add  {
    display:  inline-block;
    .term     {
      text-align:   right;
      &.last {
        border-bottom:    1px solid #333;
      }
    }
}



/*  !!!!EXERCISE STYLES!!!!  */

.exercise-num  {
  .header-module;
}

.exercise-header  {
  .type-xxsmall;
  .bold;
  margin-top:      3 * @sizer-base;
  margin-bottom:   4 * @sizer-base;
}
.exercise-text   {
  .type-xxsmall;
  .para;
}

.exercise-box    {
  .paper-shadow;
  padding:      4 * @sizer-base;
  box-sizing:   border-box;
}

.solution-header  {
  .type-xxsmall;
  .bold;
}

.solution-body  {
  .type-xxsmall;
  
  margin-top:   3 * @sizer-base;
  padding-left: 4 * @sizer-base;

}

.show-solution-btn  {
    .softbtn;
    .type-xxsmall;
    .green;
    margin-left:   4 * @sizer-base;
}

.question-divider  {

  margin-top:      8 * @sizer-base;
  margin-bottom:   8 * @sizer-base;

}



.workbook-input     {
  z-index:  auto;
  .input-ans-icon {
      display:      inline-block;
      vertical-align:       middle;
      background-color:     #ddd;
      border-radius:        100px;
      padding:              8px;
      
      border:              1px solid #ddd;
      position:           relative;
      left:               20px;
      z-index:            2;
      box-shadow:         inset 0 1px 1px rgba(0,0,0,0.075),
                          0 0 8px rgba(82,168,236,0.6);

      &.input-icon {
        transform:            rotate(180deg);
        -ms-transform:        rotate(180deg);
        -webkit-transform:    rotate(180deg);
      }


  }
  input{
      padding:            3px 0 3px 20px;
      margin:             25px auto;
      border-radius:      2px;
      border:             1px solid #ddd;
      display:            inline-block;
      vertical-align:     middle;
      z-index:            1;

  }
  .draw-text  {
      padding:            5px 8px 5px 25px;
      display:            inline-block;
      vertical-align:      middle;
      // border:             1px solid #ddd;
      // border-radius:      3px;
      color:              #ddd;
  }

}



  

/*=====================*/




/*NOT ACTUALLY USED... */
.exercise-info  {
  width:         100%;
  max-width:        600px;
  margin:       -10px auto 0;
  text-align:    center;
  z-index:      auto;

  .pencil {
    width:              60px;
    height:             50px;
    padding:            10px 0 0;
    margin:             0 auto;
    border-radius:      60px;
    background-color:   #ddd;
    color:              #333;
    box-shadow:         0 0 8px #333;
    font-size:          40px;
    z-index:            2;
    cursor:              pointer;
    position:           relative;
    top:                60px / 2;
  }

  .exercise-info-inner {
    width:              100%;
    // margin:             0 auto;
    // padding:            50px 0 25px;
    background-color:   #F3F3F3; 
    z-index:            1;
    border-top:         1px solid #ccc;

    .inner-margin   {
      padding:          40px 0 25px;
    }

  }

}