<div 	class="page-layout" 
		ng-init="
			ans={};

			ans.input1 = {
				showSolution: false,
				solution 	: '8 675 tonnes'
			};
			ans.input2 = {
				showSolution: false,
				solution 	: '442 calories'
			};
			ans.input3 = {
				showSolution: false,
				solution 	: '951 apprenants'
			};
			ans.input4 = {
				showSolution: false,
				solution 	: '12 381 dindes'
			};
			ans.input5 = {
				showSolution: false,
				solution 	: '4 932 actions'
			};
		">

		<div class="exercise-num">
			EXERCICE 13
		</div>

		<div class="exercise-header">
			Résolvez les problèmes suivants.
		</div>

		<div class="exercise-text">
			Durant un premier voyage, un train transporte 3 927 tonnes de charbon.
			Durant un second voyage, ce même train transporte 4 748 tonnes de
			charbon. Combien de tonnes de charbon ce train a-t-il transportées en
			tout ?
		</div>

		<div class="exercise-box">

			<div inbook-workbook-input persist-to="input1"></div>
	
			<div vcollapse="ans.input1.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input1.showSolution = true">
		            Afficher Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input1.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input1.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider" />

		<div class="exercise-text">
			Calculez le nombre de calories contenues dans le repas suivant :
			<ul>
				<li>une soupe : 86 calories</li>
				<li>du rôti d’agneau : 175 calories</li>
				<li>des pois : 66 calories</li>
				<li>une pomme de terre : 115 calories</li>
			</ul>
		</div>

		<div class="exercise-box">

			<div inbook-workbook-input persist-to="input2"></div>
	
			<div vcollapse="ans.input2.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input2.showSolution = true">
		            Afficher Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input2.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input2.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider" />

		<div class="exercise-text">
			Trouvez le nombre total d’apprenants et d’apprenantes s’il y en a 221 à
			Sudbury, 360 à Ottawa, 176 à Toronto et 194 dans d’autres plus petites
			villes.
		</div>

		<div class="exercise-box">

			<div inbook-workbook-input persist-to="input3"></div>
	
			<div vcollapse="ans.input3.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input3.showSolution = true">
		            Afficher Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input3.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input3.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider" />

		<div class="exercise-text">
			L’an passé, à l’occasion de la fête de Noël, une compagnie a distribué
			5 398 dindes. Cette année, elle en a distribué 6 983. Combien en a-telle
			distribué en tout ?
		</div>

		<div class="exercise-box">

			<div inbook-workbook-input persist-to="input4"></div>
	
			<div vcollapse="ans.input4.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input4.showSolution = true">
		            Afficher Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input4.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input4.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider" />

		<div class="exercise-text">
			En septembre, M. Lebrun a acheté 738 actions de la compagnie INCO,
			1 835 actions de la compagnie Falconbridge et 2 359 actions de la
			compagnie Noranda. Combien d’actions a-t-il achetées en tout ?
		</div>

		<div class="exercise-box">

			<div inbook-workbook-input persist-to="input5"></div>
	
			<div vcollapse="ans.input5.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input5.showSolution = true">
		            Afficher Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input5.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input5.solution}}
				</div>

			</div>

		</div>

</div>