<div 	gseq
		class="page-layout" 
		ng-init="
			ans={};

			ans.input1 = {
				showSolution: false,
				solution 	: 'naturels'
			};
			ans.input2 = {
				showSolution: false,
				solution : 'droite numérique'
			};
		">

		<div gdirections>
			<div el=".exercise-num"   duration="1" ease="power4-in-out" presets="[fromTransparent]"></div>

			<div duration="0.85"></div>

			<div el=".anim-01" duration="1" ease="power2-in-out" offset="-=1" presets="[fromTransparent]"></div>
				
			<div duration="2"></div>

			<div el=".anim-02" duration="1" ease="power2-in-out" offset="-=1" presets="[fromTransparent]"></div>

		</div>


		<div class="exercise-num">
			EXERCICE 1
		</div>

		<div class="exercise-box anim-01">

			<div class="exercise-header">
				Complétez les phrases:
			</div>

			<div class="exercise-text">
				L'ensemble symbolisé par N = { 0,1,2,3,4, ... } s'appelle l'ensemble des nombres:
			</div>

			<div inbook-workbook-input persist-to="input1"></div>
	
			<div vcollapse="ans.input1.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input1.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input1.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input1.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider anim-02" />

		<div class="exercise-box anim-02">

			<div class="exercise-header">
				Complétez les phrases:
			</div>

			<div class="exercise-text">
				<div>
					La droite suivante,
				</div>
				<div>
					<img ng-src="{{imgUrl}}ex-img_01.png" />
				</div>
				<div>
					s'appelle:
				</div>
			</div>

			<div inbook-workbook-input persist-to="input2">
			</div>

			<div vcollapse="ans.input2.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input2.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input2.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input2.solution}}
				</div>

			</div>

		</div>

</div>