<div 	gseq
		class="page-layout" 
		ng-init="
			ans={};

			ans.input1 = {
				showSolution: false,
				solution 	: '34 609, 876, 321, 75, 57'
			};
			ans.input2 = {
				showSolution: false,
				solution 	: '573 541, 54 545, 45 454, 8 380, 864, 87, 9'
			};
			ans.input3 = {
				showSolution: false,
				solution 	: '879 809, 314 581, 709, 98, 90, 2'
			};
			ans.input4 = {
				showSolution: false,
				solution 	: '342 544, 54 897, 45 693, 654, 43, 9'
			};
			ans.input5 = {
				showSolution: false,
				solution 	: '978 009, 909 909, 109 900, 1 909, 1 090'
			};
			ans.input6 = {
				showSolution: false,
				solution 	: '934 672, 327 533, 201 347, 60 749, 6 820'
			};
		">

		<div gdirections>
			<div el=".exercise-num"   duration="0.8" ease="power4-in-out" presets="[fromTransparent]"></div>

			<div duration="0.45"></div>

			<div el=".anim-01" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>
				
			<div duration="1"></div>

			<div el=".anim-02" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

			<div duration="1"></div>

			<div el=".anim-03" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

			<div duration="1"></div>

			<div el=".anim-04" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

			<div duration="1"></div>

			<div el=".anim-05" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

			<div duration="1"></div>

			<div el=".anim-06" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

			<div duration="1"></div>

	      	<div el="#continue" duration="1" ease="back-out" presets="[fromTransparent,fromBottom,fromRotation]" disable-scroll-focus="true"></div>
			
		</div>

		<div class="exercise-num">
			EXERCICE 8
		</div>

		<div class="exercise-box anim-01 anim-02">

			<div class="exercise-header">
				Placez les nombres en ordre décroissant
			</div>

			<div class="exercise-text">
				75, 57, 34 609, 321, 876
			</div>

			<div inbook-workbook-input persist-to="input1"></div>
	
			<div vcollapse="ans.input1.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input1.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input1.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input1.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider anim-02" />

		<div class="exercise-box anim-02">

			<div class="exercise-header">
				Placez les nombres en ordre décroissant
			</div>

			<div class="exercise-text">
				8 380, 573 541, 87, 9, 864, 54 545, 45 454
			</div>

			<div inbook-workbook-input persist-to="input2"></div>
	
			<div vcollapse="ans.input2.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input2.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input2.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input2.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider anim-03" />

		<div class="exercise-box anim-03">

			<div class="exercise-header">
				Placez les nombres en ordre décroissant
			</div>

			<div class="exercise-text">
				2, 90, 709, 98, 314 581, 879 809
			</div>

			<div inbook-workbook-input persist-to="input3"></div>
	
			<div vcollapse="ans.input3.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input3.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input3.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input3.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider anim-04" />

		<div class="exercise-box anim-04">

			<div class="exercise-header">
				Placez les nombres en ordre décroissant
			</div>

			<div class="exercise-text">
				45 693, 54 897, 43, 9, 654, 342 544
			</div>

			<div inbook-workbook-input persist-to="input4"></div>
	
			<div vcollapse="ans.input4.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input4.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input4.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input4.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider anim-05" />

		<div class="exercise-box anim-05">

			<div class="exercise-header">
				Placez les nombres en ordre décroissant
			</div>

			<div class="exercise-text">
				978 009, 109 900, 1 909, 1 090, 909 909
			</div>

			<div inbook-workbook-input persist-to="input5"></div>
	
			<div vcollapse="ans.input5.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input5.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input5.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input5.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider anim-06" />

		<div class="exercise-box anim-06">

			<div class="exercise-header">
				Placez les nombres en ordre décroissant
			</div>

			<div class="exercise-text">
				6 820, 934 672, 201 347, 60 749, 327 533
			</div>

			<div inbook-workbook-input persist-to="input6"></div>
	
			<div vcollapse="ans.input6.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input6.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input6.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input6.solution}}
				</div>

			</div>

		</div>

		<div id="continue" class="mt6 center">
			<div inbook-nextbtn="scene"></div>
		</div>

</div>