<div 	gseq
		class="page-layout" 
		ng-init="
			ans={};

			ans.input1 = {
				showSolution: false,
				solution:	  'faux (zéro est aussi un nombre naturel)'
			};
			ans.input2 = {
				showSolution: false,
				solution:	  faux
			};
		">

		<div gdirections>
			<div el=".exercise-num"   duration="1" ease="power4-in-out" presets="[fromTransparent]"></div>

			<div duration="0.85"></div>

			<div el=".anim-01" duration="1" ease="power2-in-out" offset="-=1" presets="[fromTransparent]"></div>
				
			<div duration="2"></div>

			<div el=".anim-02" duration="1" ease="power2-in-out" offset="-=1" presets="[fromTransparent]"></div>

			<div duration="2"></div>

	      	<div el="#continue" duration="1.2" ease="back-out" presets="[fromTransparent,fromBottom,fromRotation]"></div>

		</div>


		<div class="exercise-num">
			EXERCICE 1
		</div>

		<div class="exercise-box anim-01">	

			<div class="exercise-header">
				Répondez par vrai ou faux
			</div>

			<div class="exercise-text">
				Tous les nombres entiers plus grands que 0 sont des nombres naturels.
			</div>

			<div inbook-workbook-input persist-to="input1"></div>
	
			<div vcollapse="ans.input1.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input1.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input1.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input1.solution}}
				</div>

			</div>

		</div>		

	<hr class="question-divider anim-02" />

		<div class="exercise-box anim-02">

			<div class="exercise-header">
				Répondez par vrai ou faux
			</div>
		
			<div class="exercise-text">
				0 n'est pas un nombre naturel
			</div>

			<div inbook-workbook-input persist-to="input2">
			</div>

			<div vcollapse="ans.input2.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input2.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input2.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input2.solution}}
				</div>

			</div>

		</div>

		<div id="continue" class="mt6 center">
			<div inbook-nextbtn="scene"></div>
		</div>

</div>