<div 	gseq
		class="page-layout" 
		ng-init="
			ans={};

			ans.input1 = {
				showSolution: false,
				solution 	: '5 centaines de mille – 500 000, 7 dizaines de mille – 70 000, 6 unités de mille 6 000, 4 centaines – 400, 1 dizaine - 10, 8 unités - 8'
			};
			ans.input2 = {
				showSolution: false,
				solution 	: '6 centaines - 600, 1 dizaine - 10, 7 unités - 7'
			};
			ans.input3 = {
				showSolution: false,
				solution 	: '5 dizaines de mille – 50 000, 8 unités de mille 8 000, 3 centaines - 300, 9 dizaines - 90, 2 unités - 2'
			};
			ans.input4 = {
				showSolution: false,
				solution 	: '7 unités de mille 7 000, 9 centaines - 900, 1 dizaine - 10, 4 unités - 4'
			};
			ans.input5 = {
				showSolution: false,
				solution 	: '(3 286) 3 unités de mille - 3000, 2 centaines - 200, 8 dizaines - 80, 6 unités - 6'
			};
			ans.input6 = {
				showSolution: false,
				solution 	: '(1 200) 1 unité de mille - 1000, 2 centaines - 200, 0 dizaine, 0 unité'
			};
			ans.input7 = {
				showSolution: false,
				solution 	: '(71) 7 dizaines - 70, 1 unité - 1'
			};
			ans.input8 = {
				showSolution: false,
				solution 	: '3 dizaines de mille – 30 000, 5 unités de mille – 5 000, 0 centaine, 7 dizaines - 70, 6 unités - 6'
			};
			ans.input9 = {
				showSolution: false,
				solution 	: '2 centaines de mille – 200 000, 0 dizaine de mille, 3 unités de mille 3 000, 6 centaines - 600, 9 dizaines - 90, 4 unités - 4'
			};
		">

		<div gdirections>
			<div el=".exercise-num"   duration="1" ease="power4-in-out" presets="[fromTransparent]"></div>

			<div duration="0.85"></div>

			<div el=".anim-01" duration="1" ease="power2-in-out" offset="-=1" presets="[fromTransparent]"></div>
				
			<div duration="2"></div>

			<div el=".anim-02" duration="1" ease="power2-in-out" offset="-=1" presets="[fromTransparent]"></div>

			<div duration="2"></div>

			<div el=".anim-03" duration="1" ease="power2-in-out" offset="-=1" presets="[fromTransparent]"></div>

			<div duration="2"></div>

			<div el=".anim-04" duration="1" ease="power2-in-out" offset="-=1" presets="[fromTransparent]"></div>

			<div duration="2"></div>

			<div el=".anim-05" duration="1" ease="power2-in-out" offset="-=1" presets="[fromTransparent]"></div>

			<div duration="2"></div>

			<div el=".anim-06" duration="1" ease="power2-in-out" offset="-=1" presets="[fromTransparent]"></div>

			<div duration="2"></div>

			<div el=".anim-07" duration="1" ease="power2-in-out" offset="-=1" presets="[fromTransparent]"></div>

			<div duration="2"></div>

			<div el=".anim-08" duration="1" ease="power2-in-out" offset="-=1" presets="[fromTransparent]"></div>

			<div duration="2"></div>

			<div el=".anim-09" duration="1" ease="power2-in-out" offset="-=1" presets="[fromTransparent]"></div>

			<div duration="2"></div>

	      	<div el="#continue" duration="1.2" ease="back-out" presets="[fromTransparent,fromBottom,fromRotation]"></div>

		</div>

		<div class="exercise-num">
			EXERCICE 3
		</div>	

		<div class="exercise-box anim-01">

			<div class="exercise-header">
				Donnez la position et la valeur de chacun des chiffres qui composent les nombres suivants.
			</div>

			<div class="exercise-text">
				576 418
			</div>

			<div inbook-workbook-input persist-to="input1"></div>
	
			<div vcollapse="ans.input1.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input1.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input1.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input1.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider anim-02" />

		<div class="exercise-box anim-02">

			<div class="exercise-header">
				Donnez la position et la valeur de chacun des chiffres qui composent les nombres suivants.
			</div>

			<div class="exercise-text">
				617
			</div>

			<div inbook-workbook-input persist-to="input2"></div>
	
			<div vcollapse="ans.input2.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input2.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input2.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input2.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider anim-03" />

		<div class="exercise-box anim-03">

			<div class="exercise-header">
				Donnez la position et la valeur de chacun des chiffres qui composent les nombres suivants.
			</div>

			<div class="exercise-text">
				58 392
			</div>

			<div inbook-workbook-input persist-to="input3"></div>
	
			<div vcollapse="ans.input3.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input3.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input3.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input3.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider anim-04" />

		<div class="exercise-box anim-04">

			<div class="exercise-header">
				Donnez la position et la valeur de chacun des chiffres qui composent les nombres suivants.
			</div>

			<div class="exercise-text">
				7 914
			</div>

			<div inbook-workbook-input persist-to="input4"></div>
	
			<div vcollapse="ans.input4.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input4.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input4.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input4.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider anim-05" />

		<div class="exercise-box anim-05">

			<div class="exercise-header">
				Donnez la position et la valeur de chacun des chiffres qui composent les nombres suivants.
			</div>

			<div class="exercise-text">
				Trois mille deux cent quatre-vingt-six
			</div>

			<div inbook-workbook-input persist-to="input5"></div>
	
			<div vcollapse="ans.input5.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input5.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input5.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input5.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider anim-06" />

		<div class="exercise-box anim-06">

			<div class="exercise-header">
				Donnez la position et la valeur de chacun des chiffres qui composent les nombres suivants.
			</div>

			<div class="exercise-text">
				Mille deux cents
			</div>

			<div inbook-workbook-input persist-to="input6"></div>
	
			<div vcollapse="ans.input6.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input6.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input6.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input6.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider anim-07" />

		<div class="exercise-box anim-07">

			<div class="exercise-header">
				Donnez la position et la valeur de chacun des chiffres qui composent les nombres suivants.
			</div>

			<div class="exercise-text">
				Soixante et onze
			</div>

			<div inbook-workbook-input persist-to="input7"></div>
	
			<div vcollapse="ans.input7.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input7.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input7.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input7.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider anim-08" />

		<div class="exercise-box anim-08">

			<div class="exercise-header">
				Donnez la position et la valeur de chacun des chiffres qui composent les nombres suivants.
			</div>

			<div class="exercise-text">
				35 076
			</div>

			<div inbook-workbook-input persist-to="input8"></div>
	
			<div vcollapse="ans.input8.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input8.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input8.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input8.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider anim-09" />

		<div class="exercise-box anim-09">

			<div class="exercise-header">
				Donnez la position et la valeur de chacun des chiffres qui composent les nombres suivants.
			</div>

			<div class="exercise-text">
				203 694
			</div>

			<div inbook-workbook-input persist-to="input9"></div>
	
			<div vcollapse="ans.input9.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input9.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input9.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input9.solution}}
				</div>

			</div>

		</div>

		<div id="continue" class="mt6 center">
			<div inbook-nextbtn="scene"></div>
		</div>

</div>