<div 	class="page-layout" 
		ng-init="
			ans={};

			ans.input1 = {
				showSolution: false,
				solution 	: '2'
			};
			ans.input2 = {
				showSolution: false,
				solution : '8'
			};
			ans.input3 = {
				showSolution: false,
				solution : '7'
			};
		">

		<div class="exercise-num">
			EXERCICE 3
		</div>

		<div class="exercise-box">

			<div class="exercise-header">
				Dans le nombre 47 238,	
			</div>

			<div class="exercise-text">
				quel chiffre représente les centaines?
			</div>

			<div inbook-workbook-input persist-to="input1"></div>
	
			<div vcollapse="ans.input1.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input1.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input1.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input1.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider" />

		<div class="exercise-box">	

			<div class="exercise-header">
				Dans le nombre 47 238,	
			</div>

			<div class="exercise-text">
				quel chiffre représente les unités?
			</div>

			<div inbook-workbook-input persist-to="input2"></div>
	
			<div vcollapse="ans.input2.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input2.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input2.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input2.solution}}
				</div>

			</div>

		</div>

	<hr class="question-divider" />

		<div class="exercise-box">

			<div class="exercise-header">
				Dans le nombre 47 238,	
			</div>

			<div class="exercise-text">
				quel chiffre représente les unités?
			</div>

			<div inbook-workbook-input persist-to="input3"></div>
	
			<div vcollapse="ans.input3.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input3.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input3.showSolution">

				<div class="solution-header">
					La solution:
				</div>

				<div class="solution-body">
					{{ans.input3.solution}}
				</div>

			</div>

		</div>
	
</div>	