<div 	class="page-layout" 
		ng-init="
			ans={};

			ans.input1 = {
				showSolution: false
			};
			ans.input2 = {
				showSolution: false
			};
		">

		<div class="exercise-num">
			EXERCICE 1
		</div>

		<div class="exercise-text">
			Placez les nombres 6, 10 et 12 sur la droite numérique.
		</div>

		<div class="para">
			<img ng-src="{{imgUrl}}ex-img_03.png" />
		</div>

		<div class="exercise-box">

			<div inbook-workbook-draw persist-to="input1"></div>	

		    <div vcollapse="ans.input1.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input1.showSolution = true">
		            Afficher Solution
		        </div>
		    </div>  

		    <div class="pl4" vcollapse="!ans.input1.showSolution">

				<div class="solution-header">
					Solution:
				</div>

				<div class="solution-body">
					<img ng-src="{{imgUrl}}ex-img_02.png" />
				</div>

			</div>

		</div>

	<hr class="question-divider" />

		<div class="exercise-text">
			Placez les nombres 15, 30 et 35 sur la droite numérique..
		</div>

		<div class="para">
			<img ng-src="{{imgUrl}}ex-img_04.png" />
		</div>


		<div class="exercise-box">

			<div inbook-workbook-draw persist-to="input1"></div>	

		    <div vcollapse="ans.input2.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input2.showSolution = true">
		            Afficher Solution
		        </div>
		    </div>  

		    <div class="pl4" vcollapse="!ans.input2.showSolution">

				<div class="solution-header">
					Solution:
				</div>

				<div class="solution-body">
					<img ng-src="{{imgUrl}}ex-img_05.png" />
				</div>

			</div>

		</div>


</div>