<div 	gseq 
		class="page-layout"
		ng-init="
		ans={};
		ans.input1 = {
			 showSolution: false
		};
		ans.input2 = {
			 showSolution: false
		};
		ans.input3 = {
			 showSolution: false
		};

	">

	<div gdirections>
			<div el=".exercise-num" duration="0.8" ease="power4-in-out" presets="[fromTransparent]"></div>

			<div duration="0.45"></div>

			<div el=".anim-01" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

			<div duration="1"></div>

			<div el=".anim-02" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

			<div duration="1"></div>

			<div el=".anim-03" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

			<div el="#continue" duration="1" ease="back-out" presets="[fromTransparent,fromBottom,fromRotation]" disable-scroll-focus="true"></div>	

		</div>

	<script type="text/inbook-javascript" inbook-javascript>
		var grid = scope.grid = [
		   ['Bleu',   		35,       	'23,33'	]
		  ,['Gris',   		30,       	'20'	]
		  ,['Rouge',   		15,       	'10'	]
		  ,['Blanc',   		25,       	'16,67' ]
		  ,['Vert',   		10,       	'6,67'	]
		  ,['Noir',   		15,       	'10'	]
		  ,['Autres',   	20,       	'13,33'	]
		];
	</script>

	<div class="exercise-num">
		EXERCISE 5
	</div>

	<div class="exercise-box anim-01">

		<div class="exercise-header">
			Le tableau suivant illustre le nombre de voitures de couleurs différentes
			stationnées à l’Esplanade.
		</div>

		<div class="exercise-text">

			<table class="basic-table cells-large" style="margin: 0 auto;">
				<tr>
					<td class="bold" colspan="2">
						<div>Nombre de voitures de couleurs différentes</div>
						<div>stationnées à l’Esplanade</div>
					</td>
				</tr>	
				<tr style="background-color:#ddd">
					<td>Couleurs</td>
					<td>Nombre de voitures</td>
				</tr>
				<tr ng-repeat="row in grid track by $index">
				  	<td>
				   		{{grid[$index][0]}}
				  	</td>
				  	<td>
				 		{{grid[$index][1]}}
					</td>
				</tr>
			</table>

		</div>

		<div class="exercise-text">
			À l’aide des données ci-dessus, construisez un tableau de distribution de
			fréquences et de fréquences relatives.
		</div>

		<div inbook-workbook-draw persist-to="input1"></div>

		<div vcollapse="ans.input1.showSolution">
			<div class="show-solution-btn" ng-click="ans.input1.showSolution = true">
				Vérifier Solution
			</div>
		</div>

		<div vcollapse="!ans.input1.showSolution">
			<div class="solution-body">

				<table class="basic-table cells-large" style="margin: 0 auto;">
					<tr>
						<td class="bold" colspan="3">
							<div>Nombre de voitures de couleurs différentes</div>
							<div>stationnées à l’Esplanade</div>
						</td>
					</tr>	
					<tr style="background-color:#ddd">
						<td>Couleurs</td>
						<td>Fréquences</td>
						<td>Fréquences relatives (%)</td>
					</tr>
					<tr ng-repeat="row in grid track by $index">
					  	<td>
					   		{{grid[$index][0]}}
					  	</td>
					  	<td>
					 		{{grid[$index][1]}}
						</td>
						<td>
					 		{{grid[$index][2]}}
						</td>
					</tr>
				</table>

			</div>
		</div>

	</div>

	<hr class="question-divider anim-02" />

	<div class="exercise-box anim-02">

		<div class="exercise-header">
			Construisez un diagramme à bandes horizontales pour illustrer les données.
		</div>

		<div inbook-workbook-draw persist-to="input2"></div>

		<div vcollapse="ans.input2.showSolution">
			<div class="show-solution-btn" ng-click="ans.input2.showSolution = true">
				Vérifier Solution
			</div>
		</div>

		<div vcollapse="!ans.input2.showSolution">
			<div class="solution-body">
				<img ng-src="{{imgUrl}}exercise-05-01.png" />
			</div>
		</div>

	</div>


	<div id="continue" class="mt6 center">
		<div inbook-nextbtn="scene"></div>
	</div>
</div>