Complétez le tableau. 

<table class="table" style="width:auto; margin:auto">
  <tr>
    <td></td>
    <td>Fraction</td>
    <td>Fraction équivalente <br/> dénominateur 100</td>
    <td>Pourcentage </td>
  </tr>
  <tr>
    <td>a)</td>
    <td><span math>4/5</span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
  <tr>
    <td>b)</td>
    <td><span math>18/25</span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
  <tr>
    <td>c)</td>
    <td><span math>2/4</span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
  <tr>
    <td>d)</td>
    <td><span math>7/10</span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
  <tr>
    <td>e)</td>
    <td><span math>6/20</span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
  <tr>
    <td>f)</td>
    <td><span math>3/4</span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
  <tr>
    <td>g)</td>
    <td><span math>47/50</span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
  <tr>
    <td>h)</td>
    <td><span math>17/20</span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
  <tr>
    <td>i)</td>
    <td><span math>37/100</span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
  <tr>
    <td>j)</td>
    <td><span math>12/50</span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
</table>