<div class="page-layout">

Convertissez les nombres décimaux en pourcentages. 

Complétez le tableau. 

<table class="table" style="width:auto; margin:auto">
  <tr>
    <td></td>
    <td>Nombre décimal </td>
    <td>Pourcentage </td>
  </tr>
  <tr>
    <td>a)</td>
    <td><span math>0,37</span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
  <tr>
    <td>b)</td>
    <td><span math>0,75 </span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
  <tr>
    <td>c)</td>
    <td><span math>0,29</span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
  <tr>
    <td>d)</td>
    <td><span math>0,335</span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
  <tr>
    <td>e)</td>
    <td><span math>0,629 </span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
  <tr>
    <td>f)</td>
    <td><span math>0,01 </span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
  <tr>
    <td>g)</td>
    <td><span math>1,23 </span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
  <tr>
    <td>h)</td>
    <td><span math>1,00</span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
  <tr>
    <td>i)</td>
    <td><span math>2,47</span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
  <tr>
    <td>j)</td>
    <td><span math>0,3</span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
  <tr>
    <td>k)</td>
    <td><span math>40,0 </span></td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
    <td><input type="text" class="clear-input" ng-model="val" /> </td>
  </tr>
</table>


</div>