

<div
  inbook-questionseries 
  class="pa4"
  on-complete="scene.markAsCompleted();"    
> 

  <div class="inbook-grid-layout narrow type-xxsmall">     


    <div class="type-xsmall mt3 mb3">
      Trouvez une expression équivalente ayant pour dénominateur 100. 
    </div>
    

    <div inbook-question-series level="1">
      <div ng-resettable-init="
        calc = {};
        ans = {};
        calc.ans = 00000;
      "></div>
      <div ng-equate="
        calc.isCorrect = and( equal(ans.nume, calc.ans), equal(ans.deno, 100) );
      "></div>
      <div class="ib">
        0,03 
        = 
      </div>
      <div class="inbook-fraction">
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.nume" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
        <div class="fraction-line"></div>
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.deno" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
      </div>
      <div 
        class="ib"
        inbook-answer-submit="" 
        ng-model="ans.nume" 
        attempts="1" simple-ui="1"
        remote-trigger="ans.remoteTrigger"
        remote-trigger-reset="ans.remoteTrigger = false;"
        on-correct=   "question.markAsCorrect();"
        on-incorrect= "question.markAsIncorrect();"
        on-complete="ans.locked=true; track({description:'question', calc:calc, ans:ans})"
      ></div>
    </div>


    <div inbook-question-series level="1">
      <div ng-resettable-init="
        calc = {};
        ans = {};
        calc.ans = 00000;
      "></div>
      <div ng-equate="
        calc.isCorrect = and( equal(ans.nume, calc.ans), equal(ans.deno, 100) );
      "></div>
      <div class="ib">
        0,5 
        = 
      </div>
      <div class="inbook-fraction">
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.nume" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
        <div class="fraction-line"></div>
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.deno" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
      </div>
      <div 
        class="ib"
        inbook-answer-submit="" 
        ng-model="ans.nume" 
        attempts="1" simple-ui="1"
        remote-trigger="ans.remoteTrigger"
        remote-trigger-reset="ans.remoteTrigger = false;"
        on-correct=   "question.markAsCorrect();"
        on-incorrect= "question.markAsIncorrect();"
        on-complete="ans.locked=true; track({description:'question', calc:calc, ans:ans})"
      ></div>
    </div>


    <div inbook-question-series level="1">
      <div ng-resettable-init="
        calc = {};
        ans = {};
        calc.ans = 00000;
      "></div>
      <div ng-equate="
        calc.isCorrect = and( equal(ans.nume, calc.ans), equal(ans.deno, 100) );
      "></div>
      <div class="ib">
        0,4 
        = 
      </div>
      <div class="inbook-fraction">
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.nume" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
        <div class="fraction-line"></div>
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.deno" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
      </div>
      <div 
        class="ib"
        inbook-answer-submit="" 
        ng-model="ans.nume" 
        attempts="1" simple-ui="1"
        remote-trigger="ans.remoteTrigger"
        remote-trigger-reset="ans.remoteTrigger = false;"
        on-correct=   "question.markAsCorrect();"
        on-incorrect= "question.markAsIncorrect();"
        on-complete="ans.locked=true; track({description:'question', calc:calc, ans:ans})"
      ></div>
    </div>


    <div inbook-question-series level="1">
      <div ng-resettable-init="
        calc = {};
        ans = {};
        calc.ans = 00000;
      "></div>
      <div ng-equate="
        calc.isCorrect = and( equal(ans.nume, calc.ans), equal(ans.deno, 100) );
      "></div>
      <div class="ib">
        0,09
        = 
      </div>
      <div class="inbook-fraction">
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.nume" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
        <div class="fraction-line"></div>
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.deno" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
      </div>
      <div 
        class="ib"
        inbook-answer-submit="" 
        ng-model="ans.nume" 
        attempts="1" simple-ui="1"
        remote-trigger="ans.remoteTrigger"
        remote-trigger-reset="ans.remoteTrigger = false;"
        on-correct=   "question.markAsCorrect();"
        on-incorrect= "question.markAsIncorrect();"
        on-complete="ans.locked=true; track({description:'question', calc:calc, ans:ans})"
      ></div>
    </div>


    <div inbook-question-series level="1">
      <div ng-resettable-init="
        calc = {};
        ans = {};
        calc.ans = 00000;
      "></div>
      <div ng-equate="
        calc.isCorrect = and( equal(ans.nume, calc.ans), equal(ans.deno, 100) );
      "></div>
      <div class="ib">
        <div class="inbook-fraction">
          <div>19</div>
          <div class="fraction-line"></div>
          <div>20</div>
        </div>
        = 
      </div>
      <div class="inbook-fraction">
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.nume" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
        <div class="fraction-line"></div>
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.deno" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
      </div>
      <div 
        class="ib"
        inbook-answer-submit="" 
        ng-model="ans.nume" 
        attempts="1" simple-ui="1"
        remote-trigger="ans.remoteTrigger"
        remote-trigger-reset="ans.remoteTrigger = false;"
        on-correct=   "question.markAsCorrect();"
        on-incorrect= "question.markAsIncorrect();"
        on-complete="ans.locked=true; track({description:'question', calc:calc, ans:ans})"
      ></div>
    </div>


    <div inbook-question-series level="1">
      <div ng-resettable-init="
        calc = {};
        ans = {};
        calc.ans = 00000;
      "></div>
      <div ng-equate="
        calc.isCorrect = and( equal(ans.nume, calc.ans), equal(ans.deno, 100) );
      "></div>
      <div class="ib">
        0,8 
        = 
      </div>
      <div class="inbook-fraction">
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.nume" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
        <div class="fraction-line"></div>
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.deno" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
      </div>
      <div 
        class="ib"
        inbook-answer-submit="" 
        ng-model="ans.nume" 
        attempts="1" simple-ui="1"
        remote-trigger="ans.remoteTrigger"
        remote-trigger-reset="ans.remoteTrigger = false;"
        on-correct=   "question.markAsCorrect();"
        on-incorrect= "question.markAsIncorrect();"
        on-complete="ans.locked=true; track({description:'question', calc:calc, ans:ans})"
      ></div>
    </div>


    <div inbook-question-series level="1">
      <div ng-resettable-init="
        calc = {};
        ans = {};
        calc.ans = 00000;
      "></div>
      <div ng-equate="
        calc.isCorrect = and( equal(ans.nume, calc.ans), equal(ans.deno, 100) );
      "></div>
      <div class="ib">
        0,12 
        = 
      </div>
      <div class="inbook-fraction">
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.nume" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
        <div class="fraction-line"></div>
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.deno" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
      </div>
      <div 
        class="ib"
        inbook-answer-submit="" 
        ng-model="ans.nume" 
        attempts="1" simple-ui="1"
        remote-trigger="ans.remoteTrigger"
        remote-trigger-reset="ans.remoteTrigger = false;"
        on-correct=   "question.markAsCorrect();"
        on-incorrect= "question.markAsIncorrect();"
        on-complete="ans.locked=true; track({description:'question', calc:calc, ans:ans})"
      ></div>
    </div>


    <div inbook-question-series level="1">
      <div ng-resettable-init="
        calc = {};
        ans = {};
        calc.ans = 00000;
      "></div>
      <div ng-equate="
        calc.isCorrect = and( equal(ans.nume, calc.ans), equal(ans.deno, 100) );
      "></div>
      <div class="ib">
        <div class="inbook-fraction">
          <div>3</div>
          <div class="fraction-line"></div>
          <div>10</div>
        </div>
        = 
      </div>
      <div class="inbook-fraction">
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.nume" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
        <div class="fraction-line"></div>
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.deno" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
      </div>
      <div 
        class="ib"
        inbook-answer-submit="" 
        ng-model="ans.nume" 
        attempts="1" simple-ui="1"
        remote-trigger="ans.remoteTrigger"
        remote-trigger-reset="ans.remoteTrigger = false;"
        on-correct=   "question.markAsCorrect();"
        on-incorrect= "question.markAsIncorrect();"
        on-complete="ans.locked=true; track({description:'question', calc:calc, ans:ans})"
      ></div>
    </div>


    <div inbook-question-series level="1">
      <div ng-resettable-init="
        calc = {};
        ans = {};
        calc.ans = 00000;
      "></div>
      <div ng-equate="
        calc.isCorrect = and( equal(ans.nume, calc.ans), equal(ans.deno, 100) );
      "></div>
      <div class="ib">
        0,01 
        = 
      </div>
      <div class="inbook-fraction">
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.nume" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
        <div class="fraction-line"></div>
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.deno" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
      </div>
      <div 
        class="ib"
        inbook-answer-submit="" 
        ng-model="ans.nume" 
        attempts="1" simple-ui="1"
        remote-trigger="ans.remoteTrigger"
        remote-trigger-reset="ans.remoteTrigger = false;"
        on-correct=   "question.markAsCorrect();"
        on-incorrect= "question.markAsIncorrect();"
        on-complete="ans.locked=true; track({description:'question', calc:calc, ans:ans})"
      ></div>
    </div>


    <div inbook-question-series level="1">
      <div ng-resettable-init="
        calc = {};
        ans = {};
        calc.ans = 00000;
      "></div>
      <div ng-equate="
        calc.isCorrect = and( equal(ans.nume, calc.ans), equal(ans.deno, 100) );
      "></div>
      <div class="ib">
        <div class="inbook-fraction">
          <div>42</div>
          <div class="fraction-line"></div>
          <div>50</div>
        </div>
        = 
      </div>
      <div class="inbook-fraction">
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.nume" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
        <div class="fraction-line"></div>
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.deno" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
      </div>
      <div 
        class="ib"
        inbook-answer-submit="" 
        ng-model="ans.nume" 
        attempts="1" simple-ui="1"
        remote-trigger="ans.remoteTrigger"
        remote-trigger-reset="ans.remoteTrigger = false;"
        on-correct=   "question.markAsCorrect();"
        on-incorrect= "question.markAsIncorrect();"
        on-complete="ans.locked=true; track({description:'question', calc:calc, ans:ans})"
      ></div>
    </div>


    <div inbook-question-series level="1">
      <div ng-resettable-init="
        calc = {};
        ans = {};
        calc.ans = 00000;
      "></div>
      <div ng-equate="
        calc.isCorrect = and( equal(ans.nume, calc.ans), equal(ans.deno, 100) );
      "></div>
      <div class="ib">
        <div class="inbook-fraction">
          <div>3</div>
          <div class="fraction-line"></div>
          <div>25</div>
        </div>
        
        = 
      </div>
      <div class="inbook-fraction">
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.nume" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
        <div class="fraction-line"></div>
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.deno" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
      </div>
      <div 
        class="ib"
        inbook-answer-submit="" 
        ng-model="ans.nume" 
        attempts="1" simple-ui="1"
        remote-trigger="ans.remoteTrigger"
        remote-trigger-reset="ans.remoteTrigger = false;"
        on-correct=   "question.markAsCorrect();"
        on-incorrect= "question.markAsIncorrect();"
        on-complete="ans.locked=true; track({description:'question', calc:calc, ans:ans})"
      ></div>
    </div>


    <div inbook-question-series level="1">
      <div ng-resettable-init="
        calc = {};
        ans = {};
        calc.ans = 00000;
      "></div>
      <div ng-equate="
        calc.isCorrect = and( equal(ans.nume, calc.ans), equal(ans.deno, 100) );
      "></div>
      <div class="ib">
        <div class="inbook-fraction">
          <div>12</div>
          <div class="fraction-line"></div>
          <div>20</div>
        </div>

        = 
      </div>
      <div class="inbook-fraction">
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.nume" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
        <div class="fraction-line"></div>
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.deno" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
      </div>
      <div 
        class="ib"
        inbook-answer-submit="" 
        ng-model="ans.nume" 
        attempts="1" simple-ui="1"
        remote-trigger="ans.remoteTrigger"
        remote-trigger-reset="ans.remoteTrigger = false;"
        on-correct=   "question.markAsCorrect();"
        on-incorrect= "question.markAsIncorrect();"
        on-complete="ans.locked=true; track({description:'question', calc:calc, ans:ans})"
      ></div>
    </div>


    <div inbook-question-series level="1">
      <div ng-resettable-init="
        calc = {};
        ans = {};
        calc.ans = 00000;
      "></div>
      <div ng-equate="
        calc.isCorrect = and( equal(ans.nume, calc.ans), equal(ans.deno, 100) );
      "></div>
      <div class="ib">
        <div class="inbook-fraction">
          <div>2</div>
          <div class="fraction-line"></div>
          <div>5</div>
        </div>

        = 
      </div>
      <div class="inbook-fraction">
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.nume" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
        <div class="fraction-line"></div>
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.deno" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
      </div>
      <div 
        class="ib"
        inbook-answer-submit="" 
        ng-model="ans.nume" 
        attempts="1" simple-ui="1"
        remote-trigger="ans.remoteTrigger"
        remote-trigger-reset="ans.remoteTrigger = false;"
        on-correct=   "question.markAsCorrect();"
        on-incorrect= "question.markAsIncorrect();"
        on-complete="ans.locked=true; track({description:'question', calc:calc, ans:ans})"
      ></div>
    </div>


    <div inbook-question-series level="1">
      <div ng-resettable-init="
        calc = {};
        ans = {};
        calc.ans = 00000;
      "></div>
      <div ng-equate="
        calc.isCorrect = and( equal(ans.nume, calc.ans), equal(ans.deno, 100) );
      "></div>
      <div class="ib">
        <div class="inbook-fraction">
          <div>9</div>
          <div class="fraction-line"></div>
          <div>10</div>
        </div>

        = 
      </div>
      <div class="inbook-fraction">
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.nume" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
        <div class="fraction-line"></div>
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.deno" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
      </div>
      <div 
        class="ib"
        inbook-answer-submit="" 
        ng-model="ans.nume" 
        attempts="1" simple-ui="1"
        remote-trigger="ans.remoteTrigger"
        remote-trigger-reset="ans.remoteTrigger = false;"
        on-correct=   "question.markAsCorrect();"
        on-incorrect= "question.markAsIncorrect();"
        on-complete="ans.locked=true; track({description:'question', calc:calc, ans:ans})"
      ></div>
    </div>


    <div inbook-question-series level="1">
      <div ng-resettable-init="
        calc = {};
        ans = {};
        calc.ans = 00000;
      "></div>
      <div ng-equate="
        calc.isCorrect = and( equal(ans.nume, calc.ans), equal(ans.deno, 100) );
      "></div>
      <div class="ib">
        <div class="inbook-fraction">
          <div>1</div>
          <div class="fraction-line"></div>
          <div>2</div>
        </div>

        = 
      </div>
      <div class="inbook-fraction">
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.nume" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
        <div class="fraction-line"></div>
        <div><span auto-size-input><input 
          type="text"
          ng-model="ans.deno" 
          class="input-xxsmall"
          ng-disabled="ans.locked"
          ng-enter-key="ans.remoteTrigger=true;"
        /></span></div>
      </div>
      <div 
        class="ib"
        inbook-answer-submit="" 
        ng-model="ans.nume" 
        attempts="1" simple-ui="1"
        remote-trigger="ans.remoteTrigger"
        remote-trigger-reset="ans.remoteTrigger = false;"
        on-correct=   "question.markAsCorrect();"
        on-incorrect= "question.markAsIncorrect();"
        on-complete="ans.locked=true; track({description:'question', calc:calc, ans:ans})"
      ></div>
    </div>


  </div>
</div>

