<div class="page-layout">

  Complétez le tableau. Arrondissez les pourcentages au dixième près. 

  <table class="table" style="width:auto; margin:auto">
    <tr>
      <td></td>
      <td>Fraction ordinaire</td>
      <td>Nombre décimal </td>
      <td>Pourcentage </td>
    </tr>
    <tr>
      <td>a)</td>
      <td><span math>4/5</span></td>
      <td><input type="text" class="clear-input" ng-model="val" /> </td>
      <td><input type="text" class="clear-input" ng-model="val" /> </td>
    </tr>
    <tr>
      <td>b)</td>
      <td><span math>18/25</span></td>
      <td><input type="text" class="clear-input" ng-model="val" /> </td>
      <td><input type="text" class="clear-input" ng-model="val" /> </td>
    </tr>
    <tr>
      <td>c)</td>
      <td><span math>3/8</span></td>
      <td><input type="text" class="clear-input" ng-model="val" /> </td>
      <td><input type="text" class="clear-input" ng-model="val" /> </td>
    </tr>
    <tr>
      <td>d)</td>
      <td><span math>6/9</span></td>
      <td><input type="text" class="clear-input" ng-model="val" /> </td>
      <td><input type="text" class="clear-input" ng-model="val" /> </td>
    </tr>
    <tr>
      <td>e)</td>
      <td><span math>2/3</span></td>
      <td><input type="text" class="clear-input" ng-model="val" /> </td>
      <td><input type="text" class="clear-input" ng-model="val" /> </td>
    </tr>
    <tr>
      <td>f)</td>
      <td><span math>3/4</span></td>
      <td><input type="text" class="clear-input" ng-model="val" /> </td>
      <td><input type="text" class="clear-input" ng-model="val" /> </td>
    </tr>
    <tr>
      <td>g)</td>
      <td><span math>23/31</span></td>
      <td><input type="text" class="clear-input" ng-model="val" /> </td>
      <td><input type="text" class="clear-input" ng-model="val" /> </td>
    </tr>
    <tr>
      <td>h)</td>
      <td><span math>5/42</span></td>
      <td><input type="text" class="clear-input" ng-model="val" /> </td>
      <td><input type="text" class="clear-input" ng-model="val" /> </td>
    </tr>
    <tr>
      <td>i)</td>
      <td><span math>7/17</span></td>
      <td><input type="text" class="clear-input" ng-model="val" /> </td>
      <td><input type="text" class="clear-input" ng-model="val" /> </td>
    </tr>

  </table>
  <div id="continue" class="mt6 center">
  <div inbook-nextbtn="scene"></div>
  </div>
</div>