<div 	gseq
		class="page-layout" 
		ng-init="
			ans={};

			ans.input1 = {
				showSolution: false
			};
			ans.input2 = {
				showSolution: false
			};
			ans.input3 = {
				showSolution: false
			};
			ans.input4 = {
				showSolution: false
			};
			ans.input5 = {
				showSolution: false
			};
			ans.input6 = {
				showSolution: false
			};
			ans.input7 = {
				showSolution: false
			};
		">

		<div gdirections>
			<div el=".exercise-num"   duration="0.8" ease="power4-in-out" presets="[fromTransparent]"></div>

			<div duration="0.45"></div>

			<div el=".anim-01" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>
				
			<div duration="1"></div>

			<div el=".anim-02" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

			<div duration="1"></div>

			<div el=".anim-03" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

			<div duration="1"></div>

			<div el=".anim-04" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

			<div duration="1"></div>

			<div el=".anim-05" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

			<div duration="1"></div>

			<div el=".anim-06" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

			<div duration="1"></div>

			<div el=".anim-07" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

			<div duration="1"></div>

	      	<div el="#continue" duration="1" ease="back-out" presets="[fromTransparent,fromBottom,fromRotation]" disable-scroll-focus="true"></div>	

		</div>

		<div class="exercise-num">
			EXERCICE 12
		</div>

		<div class="exercise-box anim-01">

			<div class="exercise-header">
				Placez en ordre croissant
			</div>

			<div class="exercise-text">
				<div class="ib mr5 inbook-fraction">
					<div>3</div>
					<div class="fraction-line-thin"></div>
					<div>8</div>
				</div>	
				<div class="ib mr5 inbook-fraction">
					<div>5</div>
					<div class="fraction-line-thin"></div>
					<div>8</div>
				</div>
				<div class="ib mr5 inbook-fraction">
					<div>1</div>
					<div class="fraction-line-thin"></div>
					<div>8</div>
				</div>
				<div class="ib mr5 inbook-fraction">
					<div>7</div>
					<div class="fraction-line-thin"></div>
					<div>8</div>
				</div>
				<div class="ib inbook-fraction">
					<div>2</div>
					<div class="fraction-line-thin"></div>
					<div>8</div>
				</div>
			</div>

			<div inbook-workbook-draw persist-to="input1"></div>	

		    <div vcollapse="ans.input1.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input1.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

		    <div class="pl4" vcollapse="!ans.input1.showSolution">

				<div class="solution-header">
					Solution:
				</div>

				<div class="solution-body">
					
					<div class="ib inbook-fraction">
						<div>1</div>
						<div class="fraction-line-thin"></div>
						<div>8</div>
					</div>

					<div class="ib">
						<div class="ml2 mr2">&lt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>2</div>
						<div class="fraction-line-thin"></div>
						<div>8</div>
					</div>

					<div class="ib">
						<div class="ml2 mr2">&lt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>3</div>
						<div class="fraction-line-thin"></div>
						<div>8</div>
					</div>	

					<div class="ib">
						<div class="ml2 mr2">&lt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>5</div>
						<div class="fraction-line-thin"></div>
						<div>8</div>
					</div>

					<div class="ib">
						<div class="ml2 mr2">&lt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>7</div>
						<div class="fraction-line-thin"></div>
						<div>8</div>
					</div>

				</div>

			</div>

		</div>

	<hr class="question-divider anim-02" />

		<div class="exercise-box anim-02">

			<div class="exercise-header">
				Placez en ordre décroissant
			</div>

			<div class="exercise-text">
				<div class="ib mr5 inbook-fraction">
					<div>5</div>
					<div class="fraction-line-thin"></div>
					<div>6</div>
				</div>	
				<div class="ib mr5 inbook-fraction">
					<div>3</div>
					<div class="fraction-line-thin"></div>
					<div>6</div>
				</div>
				<div class="ib mr5 inbook-fraction">
					<div>1</div>
					<div class="fraction-line-thin"></div>
					<div>6</div>
				</div>
				<div class="ib mr5 inbook-fraction">
					<div>4</div>
					<div class="fraction-line-thin"></div>
					<div>6</div>
				</div>
				<div class="ib mr5 inbook-fraction">
					<div>6</div>
					<div class="fraction-line-thin"></div>
					<div>6</div>
				</div>
				<div class="ib inbook-fraction">
					<div>2</div>
					<div class="fraction-line-thin"></div>
					<div>6</div>
				</div>
			</div>

			<div inbook-workbook-draw persist-to="input2"></div>	

		    <div vcollapse="ans.input2.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input2.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

		    <div class="pl4" vcollapse="!ans.input2.showSolution">

				<div class="solution-header">
					Solution:
				</div>

				<div class="solution-body">
					<div class="ib inbook-fraction">
						<div>6</div>
						<div class="fraction-line-thin"></div>
						<div>6</div>
					</div>

					<div class="ib">
						<div class="ml2 mr2">&lt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>5</div>
						<div class="fraction-line-thin"></div>
						<div>6</div>
					</div>	

					<div class="ib">
						<div class="ml2 mr2">&lt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>4</div>
						<div class="fraction-line-thin"></div>
						<div>6</div>
					</div>

					<div class="ib">
						<div class="ml2 mr2">&lt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>3</div>
						<div class="fraction-line-thin"></div>
						<div>6</div>
					</div>

					<div class="ib">
						<div class="ml2 mr2">&lt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>2</div>
						<div class="fraction-line-thin"></div>
						<div>6</div>
					</div>

					<div class="ib">
						<div class="ml2 mr2">&lt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>1</div>
						<div class="fraction-line-thin"></div>
						<div>6</div>
					</div>
				</div>

			</div>

		</div>

	<hr class="question-divider anim-03" />

		<div class="exercise-box anim-03">

			<div class="exercise-header">
				Montrez à l’aide d’un dessin que
			</div>

			<div class="exercise-text">
				<div class="ib inbook-fraction">
					<div>5</div>
					<div class="fraction-line-thin"></div>
					<div>6</div>
				</div>

				<div class="ib">
					<div class="ml2 mr2">&gt;</div>
				</div>

				<div class="ib inbook-fraction">
					<div>4</div>
					<div class="fraction-line-thin"></div>
					<div>6</div>
				</div>
			</div>

			<div inbook-workbook-draw persist-to="input3"></div>	

		    <div vcollapse="ans.input3.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input3.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

		    <div class="pl4" vcollapse="!ans.input3.showSolution">

				<div class="solution-header">
					Solution:
				</div>

				<div class="solution-body">
					<img ng-src="{{imgUrl}}exercise-12-01.png" />
 				</div>

			</div>

		</div>


	<hr class="question-divider anim-04" />

		<div class="exercise-box anim-04">

			<div class="exercise-header">
				Comparez, à l'aide du symbole > , les fractions suivantes.
			</div>

			<div class="exercise-text">
				<div class="ib mr5 inbook-fraction">
					<div>2</div>
					<div class="fraction-line-thin"></div>
					<div>9</div>
				</div>	
				<div class="ib mr5 inbook-fraction">
					<div>7</div>
					<div class="fraction-line-thin"></div>
					<div>9</div>
				</div>
				<div class="ib mr5 inbook-fraction">
					<div>5</div>
					<div class="fraction-line-thin"></div>
					<div>9</div>
				</div>
				<div class="ib mr5 inbook-fraction">
					<div>1</div>
					<div class="fraction-line-thin"></div>
					<div>9</div>
				</div>
			</div>

			<div inbook-workbook-draw persist-to="input4"></div>	

		    <div vcollapse="ans.input4.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input4.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

		    <div class="pl4" vcollapse="!ans.input4.showSolution">

				<div class="solution-header">
					Solution:
				</div>

				<div class="solution-body">
					<div class="ib inbook-fraction">
						<div>7</div>
						<div class="fraction-line-thin"></div>
						<div>9</div>
					</div>

					<div class="ib">
						<div class="ml2 mr2">&gt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>5</div>
						<div class="fraction-line-thin"></div>
						<div>9</div>
					</div>

					<div class="ib">
						<div class="ml2 mr2">&gt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>2</div>
						<div class="fraction-line-thin"></div>
						<div>9</div>
					</div>

					<div class="ib">
						<div class="ml2 mr2">&gt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>1</div>
						<div class="fraction-line-thin"></div>
						<div>9</div>
					</div>

				</div>

			</div>

		</div>

	<hr class="question-divider anim-05" />

		<div class="exercise-box anim-05">

			<div class="exercise-header">
				Comparez, à l'aide du symbole > , les fractions suivantes.
			</div>

			<div class="exercise-text">
				<div class="ib mr5 inbook-fraction">
					<div>1</div>
					<div class="fraction-line-thin"></div>
					<div>7</div>
				</div>	
				<div class="ib mr5 inbook-fraction">
					<div>4</div>
					<div class="fraction-line-thin"></div>
					<div>7</div>
				</div>
				<div class="ib mr5 inbook-fraction">
					<div>8</div>
					<div class="fraction-line-thin"></div>
					<div>7</div>
				</div>
				<div class="ib mr5 inbook-fraction">
					<div>5</div>
					<div class="fraction-line-thin"></div>
					<div>7</div>
				</div>
			</div>

			<div inbook-workbook-draw persist-to="input5"></div>	

		    <div vcollapse="ans.input5.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input5.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

		    <div class="pl4" vcollapse="!ans.input5.showSolution">

				<div class="solution-header">
					Solution:
				</div>

				<div class="solution-body">
					<div class="ib inbook-fraction">
						<div>8</div>
						<div class="fraction-line-thin"></div>
						<div>7</div>
					</div>

					<div class="ib">
						<div class="ml2 mr2">&gt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>5</div>
						<div class="fraction-line-thin"></div>
						<div>7</div>
					</div>

					<div class="ib">
						<div class="ml2 mr2">&gt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>4</div>
						<div class="fraction-line-thin"></div>
						<div>7</div>
					</div>

					<div class="ib">
						<div class="ml2 mr2">&gt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>1</div>
						<div class="fraction-line-thin"></div>
						<div>7</div>
					</div>

				</div>

			</div>

		</div>

	<hr class="question-divider anim-06" />

		<div class="exercise-box anim-06">

			<div class="exercise-header">
				Comparez, à l'aide du symbole &lt; , les fractions suivantes.
			</div>

			<div class="exercise-text">
				<div class="ib mr5 inbook-fraction">
					<div>9</div>
					<div class="fraction-line-thin"></div>
					<div>10</div>
				</div>	
				<div class="ib mr5 inbook-fraction">
					<div>5</div>
					<div class="fraction-line-thin"></div>
					<div>10</div>
				</div>
				<div class="ib mr5 inbook-fraction">
					<div>7</div>
					<div class="fraction-line-thin"></div>
					<div>10</div>
				</div>
				<div class="ib mr5 inbook-fraction">
					<div>3</div>
					<div class="fraction-line-thin"></div>
					<div>10</div>
				</div>
			</div>

			<div inbook-workbook-draw persist-to="input6"></div>	

		    <div vcollapse="ans.input6.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input6.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

		    <div class="pl4" vcollapse="!ans.input6.showSolution">

				<div class="solution-header">
					Solution:
				</div>

				<div class="solution-body">
					<div class="ib inbook-fraction">
						<div>3</div>
						<div class="fraction-line-thin"></div>
						<div>10</div>
					</div>

					<div class="ib">
						<div class="ml2 mr2">&lt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>5</div>
						<div class="fraction-line-thin"></div>
						<div>10</div>
					</div>

					<div class="ib">
						<div class="ml2 mr2">&lt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>7</div>
						<div class="fraction-line-thin"></div>
						<div>10</div>
					</div>

					<div class="ib">
						<div class="ml2 mr2">&lt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>9</div>
						<div class="fraction-line-thin"></div>
						<div>10</div>
					</div>

				</div>

			</div>

		</div>

	<hr class="question-divider anim-07" />

		<div class="exercise-box anim-07">

			<div class="exercise-header">
				Comparez, à l'aide du symbole &lt; , les fractions suivantes.
			</div>

			<div class="exercise-text">
				<div class="ib mr5 inbook-fraction">
					<div>5</div>
					<div class="fraction-line-thin"></div>
					<div>12</div>
				</div>	
				<div class="ib mr5 inbook-fraction">
					<div>11</div>
					<div class="fraction-line-thin"></div>
					<div>12</div>
				</div>
				<div class="ib mr5 inbook-fraction">
					<div>18</div>
					<div class="fraction-line-thin"></div>
					<div>12</div>
				</div>
				<div class="ib mr5 inbook-fraction">
					<div>12</div>
					<div class="fraction-line-thin"></div>
					<div>12</div>
				</div>
			</div>

			<div inbook-workbook-draw persist-to="input7"></div>	

		    <div vcollapse="ans.input7.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input7.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

		    <div class="pl4" vcollapse="!ans.input7.showSolution">

				<div class="solution-header">
					Solution:
				</div>

				<div class="solution-body">
					<div class="ib inbook-fraction">
						<div>5</div>
						<div class="fraction-line-thin"></div>
						<div>12</div>
					</div>

					<div class="ib">
						<div class="ml2 mr2">&lt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>11</div>
						<div class="fraction-line-thin"></div>
						<div>12</div>
					</div>

					<div class="ib">
						<div class="ml2 mr2">&lt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>12</div>
						<div class="fraction-line-thin"></div>
						<div>12</div>
					</div>

					<div class="ib">
						<div class="ml2 mr2">&lt;</div>
					</div>

					<div class="ib inbook-fraction">
						<div>18</div>
						<div class="fraction-line-thin"></div>
						<div>12</div>
					</div>

				</div>

			</div>

		</div>
</div>