<div 	gseq
		class="page-layout" 
		ng-init="
			ans={};

			ans.input1 = {
				showSolution: false
			};
			ans.input2 = {
				showSolution: false
			};
			ans.input3 = {
				showSolution: false
			};

		">

		<div gdirections>
			<div el=".exercise-num"   duration="0.8" ease="power4-in-out" presets="[fromTransparent]"></div>

			<div duration="0.45"></div>

			<div el=".anim-01" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>
				
			<div duration="1"></div>

			<div el=".anim-02" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

			<div duration="1"></div>

			<div el=".anim-03" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

			<div duration="1"></div>

	      	<div el="#continue" duration="1" ease="back-out" presets="[fromTransparent,fromBottom,fromRotation]" disable-scroll-focus="true"></div>	

		</div>

	    <div class="exercise-num">
	      EXERCICE 24
	    </div>

		<div class="exercise-box anim-01">

			<div class="exercise-header">
				Soustrayez les fractions à l'aide des diagrammes.
			</div>

			<div class="exercise-text">
				
				<div class="ib">
					5
				</div>
				<div class="ib">
					<div class="ml2 mr2">&minus;</div>
				</div>
				<div class="ib">
					4
				</div>
				<div class="inbook-fraction">
					<div>1</div>
					<div class="fraction-line"></div>
					<div>2</div>
				</div>

			</div>

			<div class="exercise-text">
				<img ng-src="{{imgUrl}}exercise-24-01.png" />
			</div>

			<div inbook-workbook-draw persist-to="input1"></div>

			<div vcollapse="ans.input1.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input1.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input1.showSolution">
				<div class="solution-body">
					
					<div>
						<div class="inbook-fraction">
							<div>1</div>
							<div class="fraction-line"></div>
							<div>2</div>
						</div>
					</div>

					<div class="mt2">
						<img ng-src="{{imgUrl}}exercise-24-04.png" />
					</div>

				</div>
			</div>
				
		</div> 

		<hr class="question-divider anim-02" />

		<div class="exercise-box anim-02">

			<div class="exercise-header">
				Soustrayez les fractions à l'aide des diagrammes.
			</div>

			<div class="exercise-text">
				<div class="ib">
					2
				</div>
				<div class="inbook-fraction">
					<div>2</div>
					<div class="fraction-line"></div>
					<div>3</div>
				</div>
				<div class="ib">
					<div class="ml2 mr2">&minus;</div>
				</div>
				<div class="ib">
					1
				</div>
				<div class="inbook-fraction">
					<div>1</div>
					<div class="fraction-line"></div>
					<div>3</div>
				</div>
			</div>

			<div class="exercise-text">
				<img ng-src="{{imgUrl}}exercise-24-02.png" />
			</div>

			<div inbook-workbook-draw persist-to="input2"></div>

			<div vcollapse="ans.input2.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input2.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input2.showSolution">
				<div class="solution-body">
					<div>
						<div class="ib">
						1
						</div>
						<div class="inbook-fraction">
							<div>1</div>
							<div class="fraction-line"></div>
							<div>3</div>
						</div>
					</div>

					<div class="mt2">
						<img ng-src="{{imgUrl}}exercise-24-05.png" />
					</div>
				</div>
			</div>
				
		</div> 

		<hr class="question-divider anim-03" />

		<div class="exercise-box anim-03">

			<div class="exercise-header">
				Soustrayez les fractions à l'aide des diagrammes.
			</div>

			<div class="exercise-text">
				<div class="ib">
					7
				</div>
				<div class="ib">
					<div class="ml2 mr2">&minus;</div>
				</div>
				<div class="inbook-fraction">
					<div>1</div>
					<div class="fraction-line"></div>
					<div>2</div>
				</div>
			</div>

			<div class="exercise-text">
				<img ng-src="{{imgUrl}}exercise-24-03.png" />
			</div>

			<div inbook-workbook-input persist-to="input3"></div>

			<div vcollapse="ans.input3.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input3.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input3.showSolution">
				<div class="solution-body">
					<div>
						<div class="ib">
							6
						</div>
						<div class="inbook-fraction">
							<div>1</div>
							<div class="fraction-line"></div>
							<div>2</div>
						</div>
					</div>

					<div class="mt2">
						<img ng-src="{{imgUrl}}exercise-24-06.png" />
					</div>
				</div>
			</div>
				
		</div>

</div>