<div 	class="page-layout">
<div
	ng-resettable-init="
		ans.locked = false;
		ans.a = '';
		ans.b = '';
		feedback.reveal = false;
		"
    ng-equate="
	  solution.a = calc.a;
	  solution.b = calc.b;
	  solution.aNumbersMatch = equal(solution.a, ans.a);
	  solution.bNumbersMatch = equal(solution.b, ans.b);
	  ans.isCorrect = and(solution.aNumbersMatch, solution.bNumbersMatch);
	  ans.isCorrectFlag = ifElse(ans.isCorrect, 1, 0);
	  ">
	
  	<div class="type-small bold">
		<div class="ib">
			<div>{{calc.x}}</div>
		</div>
		<div class="ib ml2 mr2">&equals;</div>
		<div class="inbook-fraction ib">
			<div auto-size-input class="ib type-small"><input type="text" class="type-small " 
				ng-model="ans.a" 
				ng-enter-key="ans.remoteTrigger=true;"
				/>
			</div>
			<div class="fraction-line-thin mb1"></div>
			<div auto-size-input class="ib type-small"><input type="text" class="type-small " 
				ng-model="ans.b" 
				ng-enter-key="ans.remoteTrigger=true;"
				/>
			</div>
		</div>
		<div class="type-xsmall ib">
		<div inbook-answer-submit="1"				
			 ng-model="ans.isCorrectFlag" 
			 remote-trigger="ans.remoteTrigger" 
			 remote-trigger-reset="ans.remoteTrigger = false;"
			 on-correct=   "question.markAsCorrect();"
			 on-incorrect= "question.markAsIncorrect();">
		</div>
	</div>
	<hr/>

	<div class="mt6">
		<div inbook-nextbtn="question"></div>
	</div>
	</div>
</div>