

<div 	gseq
		class="page-layout" 
		ng-init="
			ans={};

			ans.input1 = {
				showSolution: false,
				question	: '78; 69,45; 69,3; 69,8; 85,5;',
				solution 	: '85,5; 78; 69,8; 69,45; 69,3;'
			};
			ans.input2 = {
				showSolution: false,
				question 	: '0,5; 5,5; 5,01; 5; 5,05;',
				solution 	: '5,5; 5,05; 5,01; 5; 0,5;'
			};
			ans.input3 = {
				showSolution: false,
				question	: '2 659; 26,59; 265,9; 2,65; 0,26;',
				solution 	: '2 659; 265,9; 26,59; 2,65; 0,26;'
			};	
			ans.input4 = {
				showSolution: false,
				question	: '1,07; 7,01; 0,71; 17,1; 1,70;',
				solution 	: '17,1; 7,01; 1,70; 1,07; 0,71;'
			};

		">
		
		<div class="exercise-num">
		   	EXERCICE 9
		</div>

		<div gdirections>
			<div el=".exercise-num"   duration="0.8" ease="power4-in-out" presets="[fromTransparent]"></div>

			<div duration="0.45"></div>

			<div el=".anim-01" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>
				
			<div duration="1"></div>

			<div el=".anim-02" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

			<div duration="1"></div>

			<div el=".anim-03" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

			<div duration="1"></div>

			<div el=".anim-04" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

			<div duration="1"></div>

	      	<div el="#continue" duration="1" ease="back-out" presets="[fromTransparent,fromBottom,fromRotation]" disable-scroll-focus="true"></div>	

		</div>

	    <div class="exercise-num">
	      EXERCICE 9
	    </div>

		<div class="exercise-box anim-01">

			<div class="exercise-header">
				Mettez en ordre décroissant
			</div>

			<div class="exercise-text">
				{{ans.input1.question}}
			</div>

			<div inbook-workbook-input persist-to="input1"></div>

			<div vcollapse="ans.input1.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input1.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input1.showSolution">
				<div class="solution-body">
					{{ans.input1.solution}}
				</div>
			</div>
				
		</div> 

		<hr class="question-divider anim-02" />

		<div class="exercise-box anim-02">

			<div class="exercise-header">
				Mettez en ordre décroissant
			</div>

			<div class="exercise-text">
				{{ans.input2.question}}
			</div>

			<div inbook-workbook-input persist-to="input2"></div>

			<div vcollapse="ans.input2.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input2.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input2.showSolution">
				<div class="solution-body">
					{{ans.input2.solution}}
				</div>
			</div>
				
		</div> 

		<hr class="question-divider anim-03" />

		<div class="exercise-box anim-03">

			<div class="exercise-header">
				Mettez en ordre décroissant
			</div>

			<div class="exercise-text">
				{{ans.input3.question}}
			</div>

			<div inbook-workbook-input persist-to="input3"></div>

			<div vcollapse="ans.input3.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input3.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input3.showSolution">
				<div class="solution-body">
					{{ans.input3.solution}}
				</div>
			</div>
				
		</div> 

		<hr class="question-divider anim-04" />

		<div class="exercise-box anim-04">

			<div class="exercise-header">
				Mettez en ordre décroissant
			</div>

			<div class="exercise-text">
				{{ans.input4.question}}
			</div>

			<div inbook-workbook-input persist-to="input4"></div>

			<div vcollapse="ans.input4.showSolution">
		        <div class="show-solution-btn" ng-click="ans.input4.showSolution = true">
		            Vérifier Solution
		        </div>
		    </div>  

			<div class="pl4" vcollapse="!ans.input4.showSolution">
				<div class="solution-body">
					{{ans.input4.solution}}
				</div>
			</div>
				
		</div> 
		<div id="continue" class="mt6 center">
	  <div inbook-nextbtn="scene"></div>
	  </div>
</div>