<div 	 gseq 
		 class="page-layout"
		 ng-init="
		 ans={};
		 ans.input1 = {
			 showSolution: false,
				solution 	: '≈ 26 %'
		};
		 ans.input2 = {
			 showSolution: false,
				solution 	: '11,04 m'
		};
		 ans.input3 = {
			 showSolution: false
		};
		 ans.input4 = {
			 showSolution: false,
				solution 	: '8,9 m'
		};

	">

	<div gdirections>
		<div el=".exercise-num" duration="0.8" ease="power4-in-out" presets="[fromTransparent]"></div>

		<div duration="0.45"></div>

		<div el=".anim-01" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

		<div duration="1"></div>

		<div el=".anim-02" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

		<div duration="1"></div>

		<div el=".anim-03" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

		<div duration="1"></div>

		<div el=".anim-04" duration="0.8" offset="-=0.75" ease="power2-in-out" presets="[fromTransparent]" disable-scroll-focus="true"></div>

		<div duration="1"></div>

		<div el="#continue" duration="1" ease="back-out" presets="[fromTransparent,fromBottom,fromRotation]" disable-scroll-focus="true"></div>

	</div>

	<div class="exercise-num">
		EXERCISE 4.1
	</div>

	<div class="exercise-box anim-01">

		<div class="exercise-header">
			Résolvez
		</div>

		<div class="exercise-text">
			Calculez le pourcentage du salaire que représente le coût du loyer pour chacun. Trouver la moyenne des pourcentages. Roger paye 460 $ par mois de loyer et son salaire annuel est de 28 530 $ ; Yvette gagne 335 $ par semaine et son loyer représente 1⁄4 de son salaire ; Julie gagne 12 $ de l’heure, elle travaille 37 heures par semaine et son loyer lui coûte 412 $ par mois ; Armand a calculé que son loyer lui coûte 27 % de son salaire annuel qui est de 32 750 $ ; Lucienne a calculé que son loyer représente 3/8 de son salaire annuel qui est de 29 375 $
		</div>

		<div inbook-workbook-input persist-to="input1"></div>

		<div vcollapse="ans.input1.showSolution">
			<div class="show-solution-btn" ng-click="ans.input1.showSolution = true">
				Vérifier Solution
			</div>
		</div>

		<div vcollapse="!ans.input1.showSolution">
			<div class="solution-body">
				{{ans.input1.solution}}
			</div>
		</div>

	</div>

	<hr class="question-divider anim-02" />

	<div class="exercise-box anim-02">

		<div class="exercise-header">
			Résolvez
		</div>

		<div class="exercise-text">
			Une échelle est appuyée à un mur de la façon suivante :
		</div>

		<div class="exercise-text">
			<img ng-src="{{imgUrl}}5-05-17.png" />
		</div>

		<div class="exercise-text">
			Il y a un barreau à tous les 30 cm (Il n’y aura pas de barreau au bas de l’échelle). L’échelle a une largeur de 56 cm. Combien de bois a-t-on utilisé pour construire l’échelle?
		</div>

		<div inbook-workbook-input persist-to="input2"></div>

		<div vcollapse="ans.input2.showSolution">
			<div class="show-solution-btn" ng-click="ans.input2.showSolution = true">
				Vérifier Solution
			</div>
		</div>

		<div vcollapse="!ans.input2.showSolution">
			<div class="solution-body">
				{{ans.input2.solution}}
			</div>
		</div>

	</div>

	<hr class="question-divider anim-03" />

	<div class="exercise-box anim-03">

		<div class="exercise-header">
			Résolvez
		</div>

		<div class="exercise-text">
			Un jardin d’herbe a été divisé en 10 sections
		</div>

		<div class="exercise-text">
			<img ng-src="{{imgUrl}}5-05-18-1.png" />
		</div>

	    <div class="exercise-text">
	    	Le jardin mesure 15 m sur 6 m. Combien de m<sup>2</sup> occupe chaque herbe?
	    </div>

		<div inbook-workbook-input persist-to="input3"></div>

		<div vcollapse="ans.input3.showSolution">
			<div class="show-solution-btn" ng-click="ans.input3.showSolution = true">
				Vérifier Solution
			</div>
		</div>

		<div vcollapse="!ans.input3.showSolution">
			<div class="solution-body">
				9m<sup>2</sup>
			</div>
		</div>

	</div>

	<hr class="question-divider anim-04" />

	<div class="exercise-box anim-04">

		<div class="exercise-header">
			Résolvez
		</div>

		<div class="exercise-text">
			On installe un poêle à gaz dans une pièce de 108m<sup>2</sup> dont la longueur est de 12 m. Le poêle mesurant 25 cm sur 20 cm est placé à 28 cm du mur. On veut calculer la longueur du fil électrique sachant que la prise est située à 1/3 de la longueur du mur (tel qu’illustré). On ajoute 12 cm de plus que la longueur nécessaire.
		</div>

		<div class="exercise-text">
			<img ng-src="{{imgUrl}}5-05-18-2.png" />
		</div>

		<div inbook-workbook-input persist-to="input4"></div>

		<div vcollapse="ans.input4.showSolution">
			<div class="show-solution-btn" ng-click="ans.input4.showSolution = true">
				Vérifier Solution
			</div>
		</div>

		<div vcollapse="!ans.input4.showSolution">
			<div class="solution-body">
				{{ans.input4.solution}}
			</div>
		</div>

	</div>

	<div id="continue" class="mt6 center">
		<div inbook-nextbtn="scene"></div>
	</div>
</div>